consumer_token=CONSUMER_TOKEN
consumer_secret=CONSUMER_SECRET
access_token=ACCESS_TOKEN
access_token_secret=ACCESS_TOKEN_SECRET

# comma-separated list of topics (below would filter the stream using ['foo', 'bar', 'other topic'])
tweet_topics=foo, bar, other topic
